<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css"  type="text/css">
    <title>Promedio Estudiante</title>
</head>
<body>
    <div class="container">
        <h1> Promedio {{estudiante}}</h1>

    <ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/crearCurso">Crear Curso</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/verCursos">Ver cursos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/inscribir">Inscribir</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/verInscritos">Ver Inscritos</a>
  </li>

</ul>
    